<div class="app-header"  *ngIf="auth.state$ | async; let state">
  <div class="logo" routerLink="/">
    <img alt="Modus Logo" src="assets/images/favicon-196x196.png">
  </div>
  <div class="title" routerLink="/">Modus Create</div>
  <div class="profile-dropdown" *ngIf="state.isLoggedIn">
    <div class="initials">
      {{state.user.firstName.charAt(0)}}{{state.user.lastName.charAt(0)}}
    </div>
  </div>
  <div class="action-btns" *ngIf="!state.isLoggedIn">
    <button class="app-btn login-btn" (click)="auth.login('Ahsan', 'Ayaz')">Login</button>
    <button class="app-btn signup-btn" (click)="auth.login('Ahsan', 'Ayaz')">Signup</button>
  </div>
  <div class="action-btns" *ngIf="state.isLoggedIn">
    <button class="app-btn logout-btn" (click)="auth.logout()">Logout</button>
  </div>
</div>
